.font-xs {
    font-size: $fz-size-xs;
}

.font-sm {
    font-size: $fz-size-sm;
}

.font-md {
    font-size: $fz-size-md;
}

.font-lg {
    font-size: $fz-size-lg;
}

.font-xl {
    font-size: $fz-size-xl;
}